ul.iconbar {
    padding-inline-start: 0;
}
    ul.iconbar li {
        display: inline-block;
        list-style-type: none;
        padding-right: 1em;
    }
        ul.iconbar li a {
            color: inherit;
        }
