nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #643719;
    border-radius: .2px;
}
    nav ul li {
        display: flex;
        list-style-type: none;
        font: 700 1em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
        color: #f6f8f6;
        padding: .1em 1em .2em;
        text-align: center;
        border-top: 1px solid #643719;
        border-bottom: 1px solid #643719;
    }
        nav ul li:hover {
            background-color:#f6f8f6;
            color:#643719;
            font-weight: 700;
        }

        nav ul li a {
            text-decoration: none;
            color: inherit;
        }

/* Drop-down menu */
nav ul>li ul {
    position: absolute;
    display: none;
}
nav>ul li {
    position: relative;
}
nav ul>li ul {
    position:absolute;
    margin-top:1.35em;
    display:none;
}
nav ul>li:hover>ul {
    display: block;
}
