ul.navbar {
    padding-inline-start: 0;
    display: flex;
    justify-content: space-around;
    background-color: #643719;
    border-radius: .3em;
}
    ul.navbar li {
        display: flex;
        list-style-type: none;
        font: 700 1em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
        color: #f6f8f6;
        padding: .1em 1em .2em;
        text-align: center;
        border-top: 1px solid #643719;
        border-bottom: 1px solid #643719;
    }
        ul.navbar li:hover {
            background-color:#f6f8f6;
            color:#643719;
            font-weight: 700;
        }

        ul.navbar li a {
            text-decoration: none;
            color: inherit;
        }
