/*
    main color: #2f392c
    complement: #809e76
    contrast:   #643719
    dark grey:  #2f392c
    light grey: #f6f8f6
*/

/*     GLOBAL     */

body {
    color: #2f392c;
    margin-left: 10%;
    max-width: 700px;
    font: Georgia, serif;
}

/*     SEMANTIC ELEMENTS     */

footer {
    background-color: #643719;
    border-radius: .3em;
    color: #f6f8f6;
    font: 700 .75em/2em Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    letter-spacing: .5px;
    text-align: center;
    margin-top: 2em;
}

/*     TAGS     */

blockquote {
    background-color: #f6f8f6;
    border: 2px solid #643719;
    padding: .5em;
    font: italic 1em/1.5em Georgia, serif;
}

h1 {
    color: #235415;
    display: inline-block;
    font: 700 4em/.8em Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    border-bottom: 6px solid #643719;
    border-radius: .1em;
}

h2 {
    color: #643719;
    font: 700 2em Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
}
