/*
    main color: #225315
    complement: #809e76
    contrast:   #643719
    dark grey:  #2f392c
    light grey: #f6f8f6
*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');


/*     GLOBAL     */

body {
    color: #2f392c;
    background-color: #f6f8f6;
    margin-left: 20%;
    max-width: 700px;
    font-family: Bitter, Georgia, serif;
    line-height: 1.45em;
}


/*     SEMANTIC ELEMENTS     */

aside {
    display: flex;
    padding: 1em 0;
}
footer {
    background-color: #643719;
    /*background-image: url("images/texture.png");*/
    border-radius: 2px;
    color: #f6f8f6;
    font: 500 .75em/2em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    letter-spacing: .5px;
    margin-top: 2em;
    text-align: center;
}
    footer a {
        color: inherit;
        font: inherit;
        letter-spacing: inherit;
    }

main p {
    text-align: justify;
    hyphens: auto;
    margin:0;
}
    main p:first-of-type::first-letter, p.illuminate::first-letter {
        font: 700 2em "Orelega One",Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
        padding:2px 5px;
        margin-right:6px;
        background-color:#809e76;
        color: #f6f8f6;
        box-shadow: 3px 3px 0 #225315;
        float:left;
        border: 1px solid #643719;
        border-radius: 2px;
    }
    main p:not(:first-of-type):not(.illuminate) {
        text-indent: 2em;
    }


/*     TAGS     */

a {
    font: 600 .95em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    color: #225315;
}

blockquote {
    /*background-color: #809e76;*/
    /*border: 2px solid #643719;*/
    background-color: #643719;
    color: #f6f8f6;
    border-radius: .3em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
    height: 160px; /* height of headshot minus bq padding */
    font: italic 1.25em/1.5em Bitter,Georgia, serif;
    letter-spacing: .25px;
    box-shadow: 4px 4px 6px #2f392c;
}
    blockquote q {
        display: block;
        /*margin-bottom: -.9em;*/
        text-indent: -.5em;
        padding-left: .5em;
    }

button {
    background-color: #f6f8f6;
    color: #225315;
    padding: .5em .8em;
    font: 700 .95em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    border: 2px solid #225315;
    border-radius: .3em;
}

caption {
    text-align: left;
}

h1 {
    color: #225315;
    display: inline-block;
    font: 800 4em/.8em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    margin: 16px 0;
    border-bottom: 6px solid #643719;
    border-radius: .1em;
}
   @media screen and (max-width: 600px) { /*roughly where it starts line-breaking my name*/
        h1 {
            font-size: calc(1em + 7.5vw)
        }
    }

h2 {
    color: #643719;
    font: 700 2em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
}

img:not(.icon) {
    /*border: 2px solid #643719;*/
    border-radius: .3em;
    box-shadow: 4px 4px 6px #2f392c;
}

table {
    border: 2px solid #643719;
    border-spacing: 0;
    border-radius: .3em;
    font-family: Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
}

tbody tr:nth-child(odd) {
    background-color: #809e76;
    color: #f6f8f6;
}

td, th {
    padding: 5px;
    vertical-align: top;
}

tfoot {
    font-weight: bold;
}

tfoot, thead {
    background-color: #643719;
    color: #f6f8f6;
    text-align: left;
}

/*     CLASSES     */

.bshift {
    vertical-align: text-top;
    border-bottom: 6px solid;
}
    .bshift:hover {
        vertical-align: text-bottom;
    }
.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.exp_head {
    margin: 1.5em 0 .5em;
    border-bottom: 1pt solid #809e76;
    border-top: 4pt solid #809e76;
    padding-top: .3em;
}
.floatleft {
   margin: 0 1.25em 1em 0;
   float: left;
}
.floatright {
   margin: 0 0 1em 1.25em;
   float: right;
}
    @media screen and (max-width: 1000px) { /* move large images into column */
        .floatleft, .floatright {
            float: unset;
            margin-left: 0;
            margin-right: 0;
        }
    @media screen and (max-width: 600px) { /* shrink large images */
        .floatleft, .floatright {
            width: 98%; /* relative to column. extra 2% is for box shadow */
        }
    }
.footericon {
    width: 1.5em;
    vertical-align: -.3em;
    margin: 0 .5em;
}
    .footericon:hover {
        width:2em;
        vertical-align: -.5em;
    }
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


/*     IDs     */

#footerlist {
    display: flex;
    list-style-type: none;
    padding: .1em;
    justify-content: center;
}
    #footerlist li {
        margin-left: .5em;
    }
    @media screen and (max-width: 800px) { /*roughly where it starts line-breaking my name*/
        #footerlist {
            flex-direction: column;
        }
    }
#stickytop {
    position: sticky;
    top: 0;
    background-color: #f6f8f6;
    z-index:10;
    width: 105%;
}


/*     PRINT     */
@media print {
    body, a, blockquote, footer, h1, h2, h3, p {
        background-color: #fff;
        color: #000000;
    }
    body {
        margin:25mm;
    }
    aside {
        display: flex;
        flex-direction: row;
    }
    footer {
        background-color: inherit;
    }
    blockquote {
        margin: .3em 1em;
        border: none;
    }
    h1 {
        font: 800 3em/.8em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
        border: none;
    }
    img:not(.icon) {
        width: 30%;
        margin: 0 .5em 1.5em 0;
        border: none;
    }
    .bshift {
        /*vertical-align: revert;*/
        border: none;
    }
    video, .icon { display: none; }


}
