/*
    main color: #225315
    complement: #809e76
    contrast:   #643719
    dark grey:  #2f392c
    light grey: #f6f8f6
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*     GLOBAL     */

body {
    color: #2f392c;
    background-color: #f6f8f6;
    margin-left: 10%;
    max-width: 700px;
    font-family: Bitter, Georgia, serif;
    line-height: 1.45em;
}

/*     SEMANTIC ELEMENTS     */

footer {
    background-color: #643719;
    border-radius: 2px;
    color: #f6f8f6;
    font: 500 .75em/2em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    letter-spacing: .5px;
    margin-top: 2em;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    background-color: #f6f8f6;
}

main p {
    text-align: justify;
    margin:0;
}
    main p:first-of-type::first-letter {
        font: 700 2em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
        padding:2px 5px;
        margin-right:6px;
        background-color:#809e76;
        color: #f6f8f6;
        box-shadow: 3px 3px 0 #225315;
        float:left;
        border: 1px solid #643719;
        border-radius: 3px;
    }
    main p:not(:first-of-type) {
        text-indent: 2em;
    }


/*     TAGS     */

a {
    font: 600 .95em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    color: #225315;
}

blockquote {
    background-color: #809e76;
    color: #f6f8f6;
    border: 2px solid #643719;
    border-radius: .3em;
    padding: .5em;
    font: italic 1em/1.5em Bitter,Georgia, serif;
    letter-spacing: .25px;
}
    blockquote q {
        display: block;
        margin-bottom: -.9em;
        text-indent: -.5em;
        padding-left: .5em;
    }

h1 {
    color: #225315;
    display: inline-block;
    font: 800 4em/.8em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
    margin: 16px 0;
    border-bottom: 6px solid #643719;
    border-radius: .1em;
}

h2 {
    color: #643719;
    font: 700 2em Raleway,Tahoma,"Trebuchet MS",Trebuchet,sans-serif;
}

span.bshift {
    vertical-align: text-top;
    border-bottom: 6px solid;
}
    span.bshift:hover {
        vertical-align: text-bottom;
    }
